<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.3.0" targetFramework="net40-Client" />
  <package id="Mono.Posix" version="4.0.0.0" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net40-Client" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40-Client" />
  <package id="Tftp.Net" version="1.1.0.0" targetFramework="net40-Client" />
</packages>